In [1]:
import pandas as pd
import nltk
import numpy as np

In [3]:
labeled_words = pd.read_csv('nrc/NRC-Emotion-Lexicon-Wordlevel-v0.92.txt', delimiter="\t", header=None)
labeled_words.head()

       0             1  2
0  aback         anger  0
1  aback  anticipation  0
2  aback       disgust  0
3  aback          fear  0
4  aback           joy  0

In [9]:
labeled_words.columns = ['word', 'emotion', 'label']

In [10]:
labeled_words.groupby('word')['label'].sum().to_frame()

             label
word
aback            0
abacus           1
abandon          3
abandoned        4
abandonment      5
...            ...
zone             0
zoo              0
zoological       0
zoology          0
zoom             0

[14181 rows x 1 columns]